@using Microsoft.AspNetCore.Components.Routing
@inject IJSRuntime JSRuntime

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">M365 Training App</a>
    </div>
</div>



<div class="collapse nav-scrollable" @onclick:stopPropagation>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/trainer">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Trainer
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool isDarkMode;

    private async Task ToggleDarkMode(ChangeEventArgs e)
    {
        isDarkMode = (bool)e.Value;
        await JSRuntime.InvokeVoidAsync("setDarkMode", isDarkMode);
    }
}