@page "/"

<PageTitle>Index</PageTitle>

<h1>Welkom bij de M365 Training App! </h1>

Ontworpen voor trainers om moeiteloos labs te beheren en trainingen te organiseren. Blader door een uitgebreide selectie labs voor diverse trainingen, stel de perfecte sessie samen en zet deze eenvoudig klaar voor jouw deelnemers. Dankzij de intuïtieve interface kunnen trainers efficiënt werken, terwijl deelnemers precies de juiste resources vinden om hun vaardigheden te ontwikkelen.

Til je trainingservaring naar een hoger niveau met onze slimme, gebruiksvriendelijke app. 🚀


